@import "../../styles/__variables";
@import "../../styles/__baseStyles";

.cardImg {
  h3 {
    @extend .english-font;
    color: $primaryDark;
    font-size: 1.15rem;
    font-weight: 400;
  }
  h6 {
    @extend .english-font;
    color: $greenGrey-darker;
    font-size: 1rem;
    font-weight: 400;
  }
  .icon {
    color: $redHart;
    cursor: pointer;
  }

  .car {
    width: 14.5rem;
    height: 6.5rem;
  }
  @include media-breakpoint-down(sm) {
  }
}

[dir="ltr"] {
  .half-star {
    transform: scalex(-1);
  }
}
