@import "~bootstrap/scss/mixins/_breakpoints.scss";
@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "../../styles/__variables";
@import "../../styles/__baseStyles";

.booking {
  background-color: $inputGrey;

  .icon {
    position: relative;
    z-index: 9;
    &::after {
      content: " ";
      position: absolute;
      width: 3rem;
      height: 3rem;
      background-color: $lightWhite;
      border-radius: 50%;
      transform: translate(-20%, 0);
      z-index: 2;
    }
  }
  @include media-breakpoint-down(sm) {
  }
}

[dir="ltr"] {
  .header {
  }
  .title {
    @include media-breakpoint-down(sm) {
    }
  }
}
[dir="rtl"] {
}
