@import "~bootstrap/scss/mixins/_breakpoints.scss";
@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "../../styles/__variables";
@import "../../styles/__baseStyles";

.sidebar {
  background-color: $lightWhite;

  .icons {
    padding: 0.5rem 0.52rem;
    cursor: pointer;
    &:active,
    &:hover {
      border-radius: 0.3rem;
      background-color: $menutGrey;
    }
    svg {
      color: $greenGrey-darker;
    }
  }
  .section-two {
    margin-top: 10rem;
  }
  .bar {
    display: none !important;
  }

  @include media-breakpoint-down(sm) {
    .logo {
      justify-content: center;
    }
    .sections {
      position: fixed;
      z-index: 999;
      .section-one {
        position: fixed;
        width: 50%;
        height: 100%;
        background-color: $lightWhite;
      }
      .section-two {
        position: fixed;
        width: 50%;
        height: 100%;
        margin-top: 30rem;
        background-color: $lightWhite;
      }
    }
    .section-toggle {
      display: none;
    }
  }
  .bar {
    display: block !important;
  }
}
[dir="ltr"] {
}
[dir="rtl"] {
}
