@import "~bootstrap/scss/mixins/_breakpoints.scss";
@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "../../styles/__variables";
@import "../../styles/__baseStyles";

.sidebar {
  background-color: $lightWhite;
  height: 100vh;
  position: fixed;

  @include media-breakpoint-up(md) {
    width: 18.7rem;
  }
  @include media-breakpoint-down(md) {
    width: 100%;
  }
  .icons {
    padding: 0.5rem 0.52rem;
    cursor: pointer;
    text-decoration: none;
    &:active,
    &:hover {
      border-radius: 0.3rem;
      background-color: $menutGrey;
    }
    img {
      margin-left: 1.8rem;
    }
    svg {
      color: $greenGrey-darker;
    }
    .rotate-180 {
      transform: rotate(180deg);
    }
  }
  .section-two {
    margin-top: 10rem;
  }
  .bar {
    display: none !important;
  }

  @include media-breakpoint-down(sm) {
    .sidebar {
      position: fixed;
      width: 100%;
    }
    .logo {
      justify-content: center;
    }
    .sections {
      .section-one {
        background-color: $lightWhite;
      }
      .section-two {
        margin-top: 30rem;
        background-color: $lightWhite;
      }
    }

    .bar {
      display: block !important;
    }
  }
}

.isSideOpen {
  width: 100vw;
  z-index: 9999;
}
