@import "~bootstrap/scss/mixins/_breakpoints.scss";
@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "../../styles/__variables";
@import "../../styles/__baseStyles";

.dashBoard {
  background-color: $inputGrey;

  .card {
    @extend .english-font;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.9rem;
    text-align: center;
    background-color: $primarypurple;
    color: $lightWhite;
  }
  @include media-breakpoint-down(sm) {
  }
}

[dir="ltr"] {
  .header {
  }
  .title {
    @include media-breakpoint-down(sm) {
    }
  }
}
[dir="rtl"] {
}
