@import "~bootstrap/scss/mixins/_breakpoints.scss";
@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "../../styles/__variables";
@import "../../styles/__baseStyles";

.dashBoard {
  background-color: $inputGrey;

  .circle {
    width: 21.5rem;
  }

  .card {
    background-color: $primarypurple;
    border-radius: 5%;
    width: 18.4rem;
    height: 23rem;
    padding-left: 1rem;
    padding-right: 1rem;
    h3 {
      @extend .english-font;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.9rem;
      text-align: center;
      color: $lightWhite;
      margin-bottom: 2rem;
    }
    .img {
      border-radius: 50%;
      background-color: $lightpurple;
      height: 3rem;
      width: 3rem;
      margin-bottom: 1rem;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    img {
      margin-bottom: 2rem;
      transform: translate(0, 1rem);
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @include media-breakpoint-down(sm) {
  }
}

.card-2 {
  background-color: $lightWhite;
  border-radius: 5%;
  width: 18.4rem;
  height: 23rem;

  padding-left: 1rem;
  padding-right: 1rem;
  h3 {
    @extend .english-font;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.9rem;
    text-align: center;
    color: $primaryDark;
    margin-bottom: 2rem;
  }

  .img-2 {
    border-radius: 50%;
    background-color: $pinkCircle;
    height: 3rem;
    width: 3rem;
    margin-bottom: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  img {
    margin-bottom: 2rem;
    transform: translate(0, 1rem);
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.card-3 {
  background-color: $lightWhite;
  border-radius: 5%;
  width: 18.4rem;
  height: 23rem;
  padding-left: 1rem;
  padding-right: 1rem;
  h3 {
    @extend .english-font;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.9rem;
    text-align: center;
    color: $primaryDark;
    margin-bottom: 2rem;
  }

  .img-3 {
    border-radius: 50%;
    background-color: $primaryCircle;
    height: 3rem;
    width: 3rem;
    margin-bottom: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  img {
    margin-bottom: 2rem;
    transform: translate(0, 1rem);
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.isSideOpen {
  width: 100vw;
  z-index: 9999;
}

.card-4 {
  background-color: $lightWhite;
  border-radius: 5%;
  width: 18.4rem;
  height: 23rem;
  padding-left: 1rem;
  padding-right: 1rem;
  h3 {
    @extend .english-font;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.9rem;
    text-align: center;
    color: $primaryDark;
    margin-bottom: 2rem;
  }

  .img-4 {
    border-radius: 50%;
    background-color: $yellowCircle;
    height: 3rem;
    width: 3rem;
    margin-bottom: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  img {
    margin-bottom: 2rem;
    transform: translate(0, 1rem);
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.firstChart {
  h2 {
    @extend .english-font;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.65rem;
    color: $primaryDark;
  }
  span {
    @extend .english-font;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.65rem;
    color: $primaryDark;
    margin-left: 0.5rem;
    margin-top: 0.17rem;
  }
  button {
    background-color: $lightWhite;
    margin-right: 0.5rem;
    border-radius: 1.5rem;
    @extend .english-font;
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 0.9rem;
    color: $darkBlack-flash;
    border: none;
    padding: 0.5rem 1rem;

    &:hover,
    &:active {
      background-color: $blueButton;
      color: $lightWhite;
    }
  }
  p {
    @extend .english-font;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.1rem;
    color: $darkBlack-flash;
  }
}

.secondChart {
  h2 {
    @extend .english-font;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.65rem;
    color: $primaryDark;
  }
  span {
    @extend .english-font;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.65rem;
    color: $primaryDark;
    margin-left: 0.5rem;
    margin-top: 0.17rem;
  }
  .dates {
    background-color: $inputGrey;
    border-radius: 0.625rem;
  }
  button {
    background-color: $inputGrey;
    margin-right: 0.5rem;
    border-radius: 1.5rem;
    @extend .english-font;
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 0.9rem;
    border: none;
    padding: 0.5rem 1rem;

    &:hover,
    &:active {
      background-color: $secondery-orange;
      color: $lightWhite;
    }
  }
  p {
    @extend .english-font;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.1rem;
    color: $darkBlack-flash;
  }
}
.background-tertiary {
  background-color: $tertiary;
  @extend .english-font;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.3rem;
}
.background-oceanBlue {
  background-color: $oceanBlue;
}
.background-pinkCard {
  background-color: $pinkCard;
}
