@import "~bootstrap/scss/mixins/_breakpoints.scss";
@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";

.english-font {
  font-family: "Dm Sans";
  font-style: normal;
}
[dir="ltr"] {
  .arabic-font {
    line-height: 1;
  }
}
[dir="rtl"] {
  .arabic-font {
    line-height: 1.88;
  }
}
