$darkBlack-flash: #5f6165;
$darkBlack-icon: #777e91;
$placeHolder-color: #7c7c8d;
$inputGrey: #f5f4f6;
$menutGrey: #f3f5f8f6;
$primaryDark: #242731;
$darkBlack: #1f2128;
$greenGrey-darker: #72767c;
$primarypurple: #a162f7;
$lightWhite: #ffffff;
$yelow: #ef9011;

$lightWhite-darker: #e7e5e5;
$lightWhite-flash: #d4d1d1;
$greenGrey: #35594c;
$subtitleGrey: #4a4a4a;
$kellyGreen: #0adfba;
$kellyGreen-lighter: #22d8ba;
$kellyGreen-flash: #57e7cf;
$kellyGreen-soft: #d0faed;
$kellyGreen-success: #eefdfa;
$disabledGrey: #f3f3f3;
$grey-soft: #cdd5d2;
$dangerRed: #ff3921;
$dangerRed-light: #fff0ee;
$copyrightGray: #858e8d;
$greenFooter: #0c1e1b;
$offWhiteLight: #f9fcfb;
