$darkBlack-flash: #5f6165;
$darkBlack-icon: #777e91;
$placeHolder-color: #7c7c8d;
$gray-dark: #a4a5a6;
$gray-black: #f4f5f9;
$inputGrey: #f5f4f6;
$menutGrey: #f3f5f8f6;
$primaryDark: #242731;
$darkBlack: #1f2128;
$greenGrey-darker: #72767c;
$primarypurple: #a162f7;
$lightpurple: #a66ff0;
$purpple: #a162f7;
$lightWhite: #ffffff;
$yelow: #ef9011;
$tertiary: #e1dfa4;
$redHart: #f84f56;
$secondery-orange: #ff764c;
$blueButton: #2884ff;
$pinkCircle: rgba(255, 126, 134, 0.1);
$primaryCircle: rgba(161, 98, 247, 0.1);
$yellowCircle: rgba(246, 204, 13, 0.1);
