@import "../../styles/__variables";
@import "../../styles/__baseStyles";

.cardImg {
  h3 {
    @extend .english-font;
    color: $primaryDark;
    font-size: 1.15rem;
    font-weight: 700;
  }
  h2 {
    @extend .english-font;
    color: $darkBlack;
    font-size: 1.3rem;
    font-weight: 700;
  }
  .icon {
    color: $redHart;
    cursor: pointer;
  }

  @include media-breakpoint-down(sm) {
  }
}
